<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Zoom Carpentry Intro</td></tr>
      <tr> <td>09:10</td>  <td><a href="01-intro/index.html">Intro to the Shell</a></td></tr>
      <tr> <td>09:15</td>  <td><a href="02-filedir/index.html">Navigating Files and Directories</a></td></tr>
      <tr> <td>09:45</td>  <td>Break</td></tr>
      <tr> <td>09:55</td>  <td><a href="03-create/index.html">Working with Files and Directories</a></td></tr>
      <tr> <td>10:25</td>  <td><a href="04-pipefilter/index.html">Pipes and Filters</a></td></tr>
      <tr> <td>10:45</td>  <td>Projected End Time</td></tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Day 1 Review</td></tr>
      <tr> <td>09:15</td>  <td><a href="04-pipefilter/index.html">Pipes and Filters (Continued)</a></td></tr>
      <tr> <td>09:35</td>  <td><a href="05-loop/index.html">Loops</a></td> </tr>
      <tr> <td>10:05</td>  <td>Break</td></tr>
      <tr> <td>10:15</td>  <td><a href="06-script/index.html">Shell Scripts</a></td></tr>
      <tr> <td>10:45</td>  <td>Projected End Time</td></tr>
      <tr> <td>Post Workshop Survey</td>  <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Post-workshop Survey</a></td></tr>
    </table>
  </div>
</div>
